@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OfficinaSerifBoldC;
    src: url(/font/ofont.ru_OfficinaSerifBoldC.ttf);
}

:root{
    --palitra-black: #212124;
    --palitra-while: #FFFFFF;
    --palitra-yellow: #FFE852;
    --palitra-fone: #F2F3F5;
    --palitra-gray: #636F7D;

    --desktop-h1: 64px;
    --desktop-h2: 38px;
    --desktop-h3: 24px;
    --buttons: 18px;

    --mobile-h1: 28px;
    --mobile-h2: 24px;
    --mobile-h3: 20px;

    --font-OfficinaSerifBoldC: 'OfficinaSerifBoldC', sans-serif;
    --font-Inter: 'Inter', sans-serif; 
}

body{
    font-weight: 400;
    font-size: 16px;
    color: #000;
    background: var(--palitra-fone);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.header-desktop{
    display: flex;
    margin: 32px 64px;
    background: var(--palitra-while);
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}

.header-mobile{
    display: none;
}

.mobile-nav{
    display: none;
}
nav{
    display: flex;
    gap: 32px;
}

a{
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 14px;
    color: rgba(33, 33, 36, 1);
}


a:hover{
    text-decoration: underline;
}

.btn{
    padding: 16px 32px;
    background: var(--palitra-yellow);
    color: var(--palitra-black);
    font-family: var(--font-OfficinaSerifBoldC);
    font-size: 18px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background: #e9d44e;
}

.detail{
    background: var(--palitra-while);
    border: 1px var(--palitra-black) solid;
    color: var(--palitra-black);
    padding: 16px 32px;
    border-radius: 16px;
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 500;
    font-size: 18px;
    margin-left: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.detail:hover{
    border: 1px var(--palitra-yellow) solid;
}

.content{
    background: var(--palitra-fone);
    margin: 0 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.content-text{
    position: relative;
    background: var(--palitra-while);
    width: 1105px;
    padding: 156px 32px;
    border-radius: 24px;
    background-image: url(/svg/Иллюстрация\ Лондон.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.content-text h1{
    padding-bottom: 32px;
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h1); 
    letter-spacing: 0.05em;
    line-height: 110%;
}

.content-img{
    width: 427px;
    display: grid;
    align-items: stretch;
}

.img-botton{
    margin-top: 16px;
}

.content-mobile{
    display: none;
}


/* Блок "Если Вы"  */

.if-you{
    background: var(--palitra-while);
}

.if-you-content{
    padding: 64px;
    display: block;
    overflow: hidden;
}

.if-you-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.if-you-heading h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h2);
    color: var(--palitra-black);
    letter-spacing: 0.05em;
}

.slaider{
    display: flex;
    gap: 16px;
}

.slaider button{
    border: none;
    border-radius: 60px;
    padding: 8px;
    width: 44px;
    height: auto;
    cursor: pointer;
    transition: all .3s ease;
}

.slaider button:hover{
    background: #d9dadb;
}

.list {
    display: flex;
    margin-top: 32px;
    user-select: none;
    cursor: grab;
    width: max-content;
}

.list:active {
    cursor: grabbing;
}

.object {
    background: var(--palitra-fone);
    width: 316px;
    height: 165px;
    border-radius: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.list {
    transition: transform 0.3s ease-out;
}

.img-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    z-index: 0;
}

.object p{
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    padding: 0 16px 16px;
}

/* Блок "Но при этом"  */

.ButWith{
    background: var(--palitra-yellow);
}

.ButWith-content{
    padding: 64px;
    display: block;
    overflow: hidden;
}

.ButWith-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ButWith-heading h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h2);
    color: var(--palitra-black);
    letter-spacing: 0.05em;
}

.slaider-ButWith{
    display: flex;
    gap: 16px;
}

.slaider-ButWith button{
    border: none;
    border-radius: 60px;
    background: var(--palitra-while);
    padding: 8px;
    width: 44px;
    height: auto;
    cursor: pointer;
    transition: all .3s ease;
}

.slaider-ButWith button:hover{
    background: var(--palitra-fone);
}

.list {
    display: flex;
    margin-top: 32px;
    user-select: none;
    cursor: grab;
    width: max-content;
}

.list:active {
    cursor: grabbing;
}

.object-ButWith {
    background: var(--palitra-fone);
    width: 316px;
    height: 165px;
    border-radius: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.list {
    transition: transform 0.3s ease-out;
}

.img-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    z-index: 0;
}

.object-ButWith p{
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    padding: 0 16px 16px;
}

/* Блок "Программы" */

.programma{
    background: var(--palitra-fone);
    padding: 64px;
}

.prog-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prog-heading h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h2);
    color: var(--palitra-black);
}

.day{
    display: flex;
    gap: 16px;
}

.info-day{
    position: relative;
    background: var(--palitra-while);
    padding: 16px 16px 0;
    border-radius: 16px;
    width: 100%;
    height: auto;
    margin-top: 32px;
    overflow: hidden;
}

.info-day p{
    padding: 8px 16px;
    background: var(--palitra-yellow);
    font-family: var(--font-Inter);
    font-weight: 700;
    font-size: 16px;
    width: 85px;
    text-align: center;
    border-radius: 16px;
}

.info-day h3{
    margin: 32px 0;
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h3);
    letter-spacing: 0.05em;
}

.info-day ul li{
    margin: 0 25px 16px;
    color: var(--palitra-gray);
    font-family:  var(--font-Inter);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
}

.icon-day{
    list-style-image: url(/img/icons/Wrapped\ Gift.png)
}

.svg-2{
    position: absolute;
    top: 75%; 
    right: 16px;
}
.svg-3{
    position: absolute; 
    top: 31px; 
    right: 239px;
}

/* Блок "Обратной связи" */

.feedback{
    position: relative;
    background: var(--palitra-yellow);
    padding: 64px;
}

.application{
    border-radius: 16px;
    background: var(--palitra-while);
}

.application-heading{
    padding: 32px;
}

.application-heading h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-size: var(--desktop-h2);
    color: var(--palitra-black);
    letter-spacing: 0.05em;
    font-weight: 400;
}

.data-form{
    margin-top: 32px;
}

.form-application{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.input-box {
    position: relative;
    width: 330px;
    max-width: 20%; 
    margin-bottom: 8px; 
}

/* Адаптация для модального окна */
 .input-box {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
}

.input-box input{
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 16px;
    background: var(--palitra-fone);
    padding-left: 58px;
}


.input-box img{
    position: absolute;
    top: 14px;
    left: 24px;
}



.input-box input::placeholder{
    font-family:  var(--font-Inter);
}

.data-form p a{
    font-family: var(--font-Inter);
    font-weight: 500;
    line-height: 120%;
}

.data-form p{
    color: var(--palitra-gray);
    font-size: 16px;
}

.data-form a{
    font-size: 14px;
    color: var(--palitra-black);
    text-decoration: underline;
}

.data-form a:hover{
    text-decoration: none;
}

.svg-4{
    position: absolute; 
    top: 8px; 
    right: 93vw;
}

/* Блок "Ведущего" */
.leader{
    padding: 64px;
}

.leader h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h2);
    color: var(--palitra-black);
    letter-spacing: 0.05em;
}

.content-leader{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.info-leader{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.number-info{
    width: 100%;
    background: var(--palitra-while);
    width: 316px;
    border-radius: 16px;
}

.info-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 0;
}

.number-info p{
    padding: 107px 16px 16px;
}

/* Блок "Ответы на вопросы"  */

.question{
    background: var(--palitra-while);
    padding: 64px;
}

.question h2{
    font-family:  var(--font-OfficinaSerifBoldC);
    font-size: var(--desktop-h2);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--palitra-black);
}

.faqs{
    margin-top: 32px;
}

.faqs details {
    padding: 16px 25px;
    background: var(--palitra-fone);
    margin-top: 16px;
    border-radius: 16px;
}

.faqs details summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h3);
    color: var(--palitra-black);
    letter-spacing: 0.05em;
}

/* Кастомная стрелка справа */
.faqs details summary::-webkit-details-marker {
    display: none;
}

.faqs details summary::after {
    content: url(/svg/Vector-arrow.svg);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: transform 0.5s ease;
    font-size: 24px;
    color: var(--palitra-gray);
    background: var(--palitra-while);
    padding: 5px 15px;
    border-radius: 60px;
    transition: all .5s ease;
}

.faqs details[open] summary::after {
    transform: translateY(-50%) rotate(360deg);
    background: var(--palitra-yellow);
}

.faqs details p {
    padding: 16px 0 8px;
    font-family: var(--font-Inter);
    font-size: 16px;
    line-height: 120%;
    color: var(--palitra-gray);
}

/* Блок второй обратной связи */

.connection{
    background: var(--palitra-yellow);
    padding: 64px;
}

.tegs{
    display: flex;
    justify-content: space-between;
}

.teg{
    background: var(--palitra-while);
    padding: 8px 12px;
    border-radius: 16px;
}

.teg p{
    font-family: var(--font-Inter);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.blocks{
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.data-form-two{
    padding: 32px;
    background: var(--palitra-while);
    border-radius: 16px;
    width: 100%;
    display: block;
}

.data-form-two h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-weight: 400;
    font-size: var(--desktop-h2);
    letter-spacing: 0.05em;
}

.form-application-two{
    margin-top: 16px;
    display: grid;
}

.input-box-two{
    position: relative;
    margin-top: 16px;
}

/* Стили для валидации форм */
.input-box, .input-box-two {
    position: relative;
    margin-bottom: 8px; /* Добавляем отступ для сообщений об ошибках */
}

.input-box {
    width: 330px;
    max-width: 20%;
    margin-right: 16px;    
}

.input-box-two {
    width: 100%;
}

.error-message {
    color: #ff4444;
    font-size: 12px;
    margin-top: 4px;
    font-family: var(--font-Inter);
    display: none;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
}

.input-box input:invalid,
.input-box-two input:invalid {
    border: 2px solid #ff4444 !important;
    background: #fff5f5 !important;
}

/* Специфичные стили для второй формы */
.form-application-two .input-box-two  input {
    width: 100%;
    border: none;
    background: var(--palitra-fone);
    height: 52px;
    border-radius: 16px;
    padding-left: 58px;
    box-sizing: border-box;
}

.form-application-two .input-box-two .input-box input:focus {
    outline: none;
    border: 2px solid var(--palitra-yellow) !important;
}

.input-box-two img{
    position: absolute;
    top: 14px;
    left: 24px;
}

.input-box-two input{
    width: 45vw;
    border: none;
    background: var(--palitra-fone);
    height: 52px;
    border-radius: 16px;
    padding-left: 58px;
}

.input-box-two input::placeholder{
    font-family:  var(--font-Inter);
}

.data-form-two p a{
    font-family: var(--font-Inter);
    font-weight: 500;
    line-height: 120%;
}

.data-form-two p{
    margin: 32px 0;
    color: var(--palitra-gray);
    font-size: 16px;
}

.data-form-two a{
    font-size: 14px;
    color: var(--palitra-black);
    text-decoration: underline;
}

.data-form-two a:hover{
    text-decoration: none;
}

footer{
    padding: 32px 64px 16px;
    background: var(--palitra-while);
}

.level-first-mobile{
    display: none;
}

.level-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact-mobile{
    display: none;
}

.data{
    display: flex;
    gap: 13.5px;
    align-items: center;
}

.social{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.data a{
    font-family:  var(--font-Inter);
    font-weight: 500;
    font-size: 14px;
    color: var(--palitra-black);
}

.back-lick{
    background: var(--palitra-fone);
    width: 44px;
    height: 44px;
    border-radius: 60px;
    transition: all .4s ease;
}

.back-lick:hover{
    background: #d9dadb;
}

.back-lick img{
    padding: 10px;
}

.level-second{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 48px;
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyright h3{
    font-family:  var(--font-Inter);
    font-weight: 700;
    font-size: 16px;
    color: var(--palitra-black);
    line-height: 120%;
}

.copyright p{
    font-family:  var(--font-Inter);
    font-weight: 500;
    font-size: 14px;
    color: var(--palitra-black);
    line-height: 120%;
}

.link-footer{
    display: flex;
    gap: 16px;
}

.link-footer a{
    font-family:  var(--font-Inter);
    font-weight: 500;
    font-size: 14px;
    color: var(--palitra-black);
    line-height: 120%;
    text-decoration: underline;
}

.link-footer a:hover{
    text-decoration: none;
}

/* Модальное окно */
.modal{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(43, 42, 41, 0.6);
    backdrop-filter: blur(16px)
}

.modal-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--palitra-while);
    padding: 32px;
    border: 1px solid #888;
    border-radius: 16px;
    width: 25%;
    max-width: 100%;
}

.modal-content h2{
    font-family: var(--font-OfficinaSerifBoldC);
    font-size: clamp(var(--mobile-h2), 2vw, var(--desktop-h2));
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--palitra-black);
}
.modal-content p{
    font-family: 'Roboto', sans-serif;
    color: var(--palitra-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.close{
    position: absolute;
    bottom: 65%;
    right: 35vw;
    float: right;
    color: var(--palitra-black);
    background: var(--palitra-while);
    border-radius: 60px;
    padding: 3px 11px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.btn-form{
    padding: 16px 32px;
    background: var(--palitra-yellow);
    color: var(--palitra-black);
    font-family: var(--font-OfficinaSerifBoldC);
    font-size: 18px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-form:hover{
    background: #e9d44e;
}

.btn-modal{
    padding: 16px 32px;
    background: var(--palitra-yellow);
    color: var(--palitra-black);
    font-family: var(--font-OfficinaSerifBoldC);
    font-size: 18px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-modal:hover{
    background: #e9d44e;
}

/* Адаптация */

@media (max-width: 1407px){
    .img-leader{
        position: sticky;
        width: 316px;
        height: 420px;
    }
}

@media (max-width: 1400px){
    .content-text h1{
        font-size: clamp(var(--mobile-h1), 4.1vw, var(--desktop-h1));
    }
}

@media (max-width: 1175px){
    .content-leader{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .form-application{
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .input-box{
        max-width: 94%;
        width: 100%;
        margin-bottom: 28px;
    }
    .application{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .svg-1{
        display: none;
    }
    .svg-4{
        right: 91%;
    }
    .tegs{
        flex-direction: column-reverse;
        gap: 16px;
        text-align: center;
    }
    .block-img img{
        width: 100%;
        height: auto;
    }
    .blocks{
        flex-direction: column-reverse;
    }
    .data-form-two{
        width: 94%;
    }
}

@media (max-width: 1030px){
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 16px 32px;
    }
    .logo{
        padding: 4px;
        border-radius: 16px;
        background: var(--palitra-while);
    }
    .menu{
        padding: 18px;
        border-radius: 16px;
        background: var(--palitra-while);
        cursor: pointer;
    }

    .mobile-nav {
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B2A2999;
    backdrop-filter: blur(16px);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.mobile-nav.active {
    opacity: 1;
    visibility: visible;
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--palitra-fone);
    padding: 24px 16px;
    transform: translateY(-50%);
    transition: transform 0.4s ease-in-out;
}

.mobile-nav.active .container {
    transform: translateY(0);
}

.logo-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu {
    padding: 4px;
    border-radius: 16px;
    background: var(--palitra-while);
}

.close-menu {
    background: var(--palitra-while);
    padding: 18px;
    border-radius: 16px;
    cursor: pointer;
}

.link-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 32px 0;
}

.link-mobile a {
    background: var(--palitra-while);
    width: 100%;
    text-align: center;
    padding: 16px 0;
    border-radius: 16px;
    font-family: var(--font-Inter);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-decoration: none;
    transition: .3s all ease;
}

.link-mobile a:hover {
    background: #d9dadb;
}

.menu {
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu:hover {
    background: var(--palitra-fone);
}
    
    .content{
        display: none;
    }

    .content-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 16px 64px 64px;
    }
    .content-text-mobile{
        display: flex;
        flex-direction: column;
    }

    .content-btn-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .content-text-mobile h1{
        padding: 16px 0 32px;
        font-family: var(--font-OfficinaSerifBoldC);
        font-weight: 400;
        font-size: clamp(var(--mobile-h1), 4vw, var(--desktop-h1)); 
        letter-spacing: 0.05em;
        line-height: 110%;
    }

    .detail{
        margin: 0;
    }

    .contact-mobile{
        display: block;
    }

    .level-first-mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    .level-first{
        display: none;
    }
    .faqs details summary{
        font-size: clamp(20px, 3vw, 24px);
    }
    .faqs details summary::after{
        right: -5.5%;
    }
    .faqs details{
        padding: 16px 64px 16px 25px;
    }
    .hidden-svg{
        display: none;
    }
    .day{
        flex-direction: column;
    }
    .svg-2{
        top: 20px;
    }
    .svg-3{
        top: 22px;
        right: 32px;
    }
}

@media (max-width: 820px){
    .level-second {
        display: flex;
        margin-top: 48px;
        flex-direction: column;
        align-items: flex-start;
    }
    .link-footer{
        margin-top: 32px;
        flex-direction: column;
    }
    .content-mobile{
        margin: 0 16px;
    }
    .header-mobile{
        margin: 24px 32px 32px;
    }
    .if-you-content,
    .ButWith-content,
    .programma,
    .feedback,
    .leader,
    .question,
    .connection{
        padding: 64px 16px;
    }
    footer{
        padding: 64px 16px 16px;
    }
    .data-form-two{
        width: 90%;
    }
    .input-box{
        width: 91%;
    }
    .if-you-heading h2,
    .ButWith-heading h2,
    .prog-heading h2,
    .application-heading h2,
    .leader h2,
    .question h2
    .data-form-two h2{
        font-size: clamp(var(--mobile-h2), 5vw, var(--desktop-h2));
    }
    .info-day{
        width: 96%;
    }
    .svg-4{
        right: 86%;
    }
    .modal-content{
        width: 50%;
    }
    .close{
        right: 21vw;
    }
}   

@media (max-width: 568px){
   .data-form-two,
   .input-box{
        width: 83%;
    }
    .faqs details summary::after{
        right: -10%;
    }
}